extends ../layout/layout

block content
    .row-fluid.center
        .well.well-large.pull-left.offset4
             img(src='http://qrfree.kaywa.com/?s=8&d=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.gdg.istanbul.ocak13')